.main-footer {
  display: flex;
  justify-content:space-between ;
  align-items:center ;  
  background-color: #141414; 
  color: #b5b5b5;
  padding: 40px 80px;
  border-top: 1px solid #222;
}
.footer-menu{
    display: flex;
    list-style: none;
}
.main-footer a {
  font-size: 1.6rem;
  color: #b5b5b5;
  text-decoration: none;
  transition: color 0.3s;
}

.main-footer a:hover {
  color: #ffffff;
}
.main-footer li {
  padding: 5px 15px;
  position: relative;
}

.main-footer li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: #444;
}
.main-footer li:hover {
  transform: scale(1.05);
}

.social-medias .bi  {
    margin: 0 5px;
    font-size: 3rem;
}