.m-header *{
    font-weight: var(--fw-medium);
    font-size: 16px;
    
}

.m-header{
    background-color: var(--bg-primary);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    opacity: 0.7;
}
.header-ul{
    display: flex;
    gap: 10px;
   
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    margin: auto;
}
.search-icon{
     color: white;
     position: absolute;
     top: 50%;
     right: 10px; 
     transform: translateY(-50%);
     font-size: 2rem;
     border-left: solid black 1px;

}
.mid-nav{
    position: relative;
}
.search{
    width:25rem;
    background-color: var(--bg-secondary);
    padding: 0.7rem;
    border: solid 1px var(--border-color);
    border-radius: 30px;
    color: var(--text-primary);
    font-size: 1.2rem;
}
.header-ul li a{
        border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}
.header-ul li a:hover{
    border-bottom:1px solid #fff;
}