.information-container p, 
.information-container h2 {
color: var(--text-primary);


}
.information-container{
    position: relative;
    background-color: var(--bg-secondary);
    margin: 20px;
    padding: 20px;
    display: flex;
    border-radius: 30px;

}
.information-container h2{
font-size: 2rem;
}
.information-container p{
    font-size: 1.7rem;
}
.information-container button{
margin: 1rem;
position: absolute;
right: 10px;
bottom: 10px;
}
.information-container img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    border-radius: 20px;
    flex-shrink:0;
}
