/*About us */
@media (max-width: 768px) {
  .information h1 {
    font-size: 30px;
  }

  section h2 {
    font-size: 24px;
  }

  .information p,
  section p,
  section ul li {
    font-size: 15px;
  }
}
/* slider */
@media (max-width: 768px) {
  .slider {
    height: 320px;
    border-radius: 10px;
  }

  .prev,
  .next {
    width: 42px;
    height: 42px;
    font-size: 20px;
  }
}
/* favorites */
@media (max-width: 900px) {
  .car {
    flex-direction: column;
  }

  .car img {
    width: 100%;
    height: 220px;
  }
}

/* gallery */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

/* ===== TABLET ve ALTINDA ===== */
@media (max-width: 1024px) {
    .search {
        width: 18rem;
        font-size: 1rem;
    }
}

/* ===== Header ===== */
@media (max-width: 768px) {

    .m-header {
        padding: 0.7rem;
        opacity: 0.95; /* mobilde okunurluk */
    }

    .navbar {
        flex-direction: column;
        align-items: stretch;
        gap: 0.8rem;
    }

    .left-nav,
    .mid-nav,
    .right-nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-ul {
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .search {
        width: 100%;
        max-width: 400px;
        font-size: 1rem;
        padding-right: 3rem; /* icon için boşluk */
    }

    .search-icon {
        font-size: 1.5rem;
        right: 15px;
    }
}

/* ===== ÇOK KÜÇÜK EKRANLAR ===== */
@media (max-width: 480px) {

    .header-ul {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .search {
        max-width: 100%;
        font-size: 0.95rem;
    }

    .search-icon {
        font-size: 1.4rem;
    }
}
