header{
display: flex;
align-items: center;
justify-content: space-around;
gap: 20px;
padding: 20px;
font-size: 19px;
position: fixed;
z-index: 1;
top: 0;
right: 0;
left: 0;
background-color: var(--dark-primary);
opacity: .8;

}
header *{
color: var(--dark-text);
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
      margin: 0px 10px;
}
header ul li a{
      text-decoration: none;
      padding: 3px;
      border-bottom: 2px solid var(--dark-text);
      transition: all .5s;
    opacity: 1;
}
header ul li a:hover{
    border-bottom: 2px solid var(--light-secondary);
}
.logo{
    width: 100px;
  
}